:root {
    --color-text: #757575;
    --color-title: #212121;
    --color-selected: #2196f3;
    --color-background: #f5f4fa;
    --color-footer-bg: #2f303a;
    --color-primary-title: #ffffff;
    --color-line: #ececec;
    --color-social-icons: #afb1b8;
    --button-accent: #188ce8;
}