.footer {
  background-color: var(--color-footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__link {
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;

    &--addr {
      color: var(--color-primary-title);
    }
  }
}

.fc {
  //   display: flex;
  text-align: center;

  @media screen and(min-width: 768px) {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    text-align: start;
  }
}

.addr {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  font-style: normal;

  @media screen and(min-width: 768px) {
    margin-right: 95px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.soc-cont {
  padding-top: 60px;

  @media screen and(min-width: 768px) {
    padding-top: 12px;
  }
}

.join-txt {
  color: var(--color-primary-title);
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
