.logo {
    display: block;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;

    &--header-color {
        color: #000000;
    }

    &--footer-color {
        color: var(--color-primary-title);
    }

    &--text-color {
        color: var(--color-selected);
    }
}

